<form action='/login/attempt' method='post' class="form-inline well">
  <input class="form-control" id="focusedInput" type="text" name='username' placeholder="username" autofocus>                                               
  <input class="form-control" id="focusedInput" type="password" name='password' placeholder="password" autofocus>
  <input class="btn btn-info" type='submit' value='log in'>
</form>
