<h3>Users that were add in database:</h3>
<h4>
	<%=
		@hh_show.each  do |hh|
			hh.each_value do |key,val|
				"HELLO!"
			end
		end
	%> 


	<table class="table">
		<tr>
			<td>aa</td>
			<td>bb</td>
		</tr>

		<tr>
			<td>cc</td>
			<td>dd</td>
		</tr>

		<tr>
			<td>ee</td>
			<td>ff</td>
		</tr>
	</table>

</h4>
<h4></h4>